* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #131c21;
    --color-light: #fafbfd;
    --text-color: #131c21;
    --link-color: #57baf5;
    --shadow-color: rgb(0 0 0 / 40%);
    --img-height: 300px;
    --img-width: 300px;
    --div-width: 450px;
}

.dark {
    --color-dark: #fafbfd;
    --color-light: #131c21;
    --text-color: #fff;
    --shadow-color: rgb(250 251 253 / 60%);
}

.dark .fa-moon {
    display: none;
}

.dark .fa-sun {
    display: inline;
}

.fa-sun {
    display: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--color-light);
    color: var(--text-color);
}

.container {
    align-items: center;
    max-width: var(--div-width);
    margin: auto;
}

.me {
    text-align: center;
    max-width: var(--div-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.theme-button{
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    top: 30px;
    background: var(--color-dark);
    color: var(--color-light);
    font-weight: 700;
    z-index: 1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-button:hover {
    opacity: 80%;
    cursor: pointer;
}

.me img {
    width: var(--img-width);
    height: var(--img-height);
    border-radius: 50%;
    display: block;
    margin: 0px auto 50px;
}

.headerTitle {
    font-weight: 700;
    font-size: 45px;
    line-height: 2;
    text-align: center;
}

hr {
    margin: 50px auto 50px auto;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--text-color);
}


a {
    text-decoration: none;
    color: var(--link-color);
}

.section {
    background-color: var(--color-light);
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px auto;
    display: block;
    padding: 20px;
    border: solid 2px var(--color-dark);
    transition-duration: 1.5s;
}

.section:first-of-type {
    margin-top: 0;
}

.section:hover {
    /*box-shadow: 0px 1px 7px 3px var(--shadow-color);*/
    box-shadow: 0px 15px 30px 0px var(--shadow-color);
    border-radius: 10px;
}

.subtitle {
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 28px;
}

.infoText {
    line-height: 1.5;
    font-size: 18px;
    color: var(--text-color);
}

ul {
    list-style: none;
}

li {
    margin: 12px;
}

.iconsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

.iconsContainer p {
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.iconsContainer img {
    margin-left: 0.5em;
}

.Contacts {
    line-height: 1.5;
    font-size: 35px;
    text-align: center;
    padding: 10px 0;
}


.Contacts a {
    display: inline-block;
    line-height: 20px;
    margin: 0 15px;
    color: var(--color-dark);
}

.float-on-hover {
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.float-on-hover:hover, .float-on-hover:focus, .float-on-hover:active {
    transform: translateY(-10px);
}

footer {
    height: 15px;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: monospace;
    font-weight: 700;
    text-align: center;
}

/*-----------------------------------MEDIA QUERIES---------------------------------*/

@media (min-width: 320px) and (max-width: 460px) {
    :root{
        --div-width: 350px;
    }
    .iconsContainer p {
        display: block;
    }
    .br {
        display: none;
    }
    .Contacts a {
        margin: 0 20px;
    }
}

@media (min-width: 120px) and (max-width: 360px) {
    :root{
        --div-width: 250px;
    }
    .iconsContainer p {
        display: block;
        padding: 0;
    }
}


